:root {
  .no-padding {
    padding: 0;
  }

  .po-table-actions {
    justify-content: start;
  }
  .po-table-search {
    width: 40%;
  }

  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}
* {
  font-family: "Nunito Sans", sans-serif;
}
